<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All tabs
    </h1>

    <a href="/tabs/new" class="btn btn-block btn-outline-secondary">
      Add a new tab
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Num of tabs
        </th>

        <th>
          Topic
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @tabs.each do |tab| %>
      <tr>
        <!-- Display tab.id start -->
        <td>
          <%= tab.id %>
        </td>
        <!-- Display tab.id end -->

        <!-- Display tab.title start -->
        <td>
          <%= tab.title %>
        </td>
        <!-- Display tab.title end -->

        <!-- Display tab.num_of_tabs start -->
        <td>
          <%= tab.num_of_tabs %>
        </td>
        <!-- Display tab.num_of_tabs end -->

        <!-- Display tab.topic_id start -->
        <td>
          <%= tab.topic.csi_section %>
        </td>
        <!-- Display tab.topic_id end -->

        <!-- Display tab.created_at start -->
        <td>
          <%= time_ago_in_words(tab.created_at) %> ago
        </td>
        <!-- Display tab.created_at end -->

        <!-- Display tab.updated_at start -->
        <td>
          <%= time_ago_in_words(tab.updated_at) %> ago
        </td>
        <!-- Display tab.updated_at end -->

        <td>
          <a href="/tabs/<%= tab.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
