<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Tab #<%= @tab.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/tabs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/tabs/<%= @tab.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit tab
        </a>
      </div>

      <div class="col">
        <a href="/delete_tab/<%= @tab.id %>" class="btn btn-block btn-outline-secondary">
          Delete tab
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @tab.title %>
      </dd>

      <dt>
        Num of tabs
      </dt>
      <dd>
        <%= @tab.num_of_tabs %>
      </dd>

      <dt>
        Topic
      </dt>
      <dd>
        <% if @tab.topic.present? %>
          <a href="/topics/<%= @tab.topic_id %>">
            <%= @tab.topic.csi_section %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@tab.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@tab.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "tab_templates/tab_text_components" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "tab_templates/tab_resources" %>
  </div>
</div>
