<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Resource #<%= @resource.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/resources" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/resources/<%= @resource.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit resource
        </a>
      </div>

      <div class="col">
        <a href="/delete_resource/<%= @resource.id %>" class="btn btn-block btn-outline-secondary">
          Delete resource
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Category
      </dt>
      <dd>
        <%= @resource.category %>
      </dd>

      <dt>
        Tab
      </dt>
      <dd>
        <% if @resource.tab.present? %>
          <a href="/tabs/<%= @resource.tab_id %>">
            <%= @resource.tab.title %>
          </a>
        <% end %>
      </dd>

      <dt>
        Resource
      </dt>
      <dd>
        <%= @resource.resource %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@resource.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@resource.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

