<h1>
  Edit topic #<%= @topic.id %>
</h1>

<hr>

<form action="/update_topic/<%= @topic.id %>" method="post">

  <div class="form-group">
    <label for="csi_section">
      Csi section
    </label>

    <input type="text" id="csi_section" name="csi_section" class="form-control" value="<%= @topic.csi_section %>">
  </div>

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @topic.title %>">
  </div>

  <div class="form-group">
    <label for="engineering_discipline">
      Engineering discipline
    </label>

    <input type="text" id="engineering_discipline" name="engineering_discipline" class="form-control" value="<%= @topic.engineering_discipline %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update topic
  </button>
</form>

<hr>

<a href="/topics">
  Go back
</a>
