<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All text components
    </h1>

    <a href="/text_components/new" class="btn btn-block btn-outline-secondary">
      Add a new text component
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "text_component_templates/text_components_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Tab
        </th>

        <th>
          Header
        </th>

        <th>
          Content
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @text_components.each do |text_component| %>
      <tr>
        <td>
          <%= text_component.id %>
        </td>

        <td>
          <% if text_component.tab.present? %>
            <a href="/tabs/<%= text_component.tab.id %>">
              <%= text_component.tab.title %>
            </a>
          <% end %>
        </td>

        <td>
          <%= text_component.header %>
        </td>

        <td>
          <%= text_component.content %>
        </td>

        <td>
          <%= time_ago_in_words(text_component.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(text_component.updated_at) %> ago
        </td>

        <td>
          <a href="/text_components/<%= text_component.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @text_components, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
